
.contain-form {
  background-color: #fff;
  padding: 10px;
  .heading {
    display: flex;
    justify-content : space-between;
  }
  .card-header {
    text-align: center;
    color: red;
    font-size: 1.2rem;
  }

}
