

.form {
  background-color: transparent;
  padding: 5px;
  color: white;
  position: relative;
}


.contain-form {

/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0f4174+0,081c3b+100 */


padding: 10px;
.heading {
  display: flex;
  justify-content : space-between;
}
.card-header {
  text-align: center;
  color: red;
  font-size: 1.2rem;
}
.closeForm {
  color: white;
  position: absolute;
  right: 10px;
  top: 5px;
}



}
